<nav class="row navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #a3ddcb">
                <i class="fab fa-twitter"></i> Tech Talent Twitter</a>
        </div>


        <div id="navbar">
            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                <li><a href="/tweets" style="color: #a3ddcb">Home</a></li>
                <li><a href="/tweets/new" style="color: #a3ddcb">New Tweet</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><a style="pointer-events: none;color: #a3ddcb">
                    @<span sec:authentication="name"></span></a>
                <li sec:authorize="isAuthenticated()"><a href="../logout" style="color: #a3ddcb">Logout</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="../login" style="color: #a3ddcb">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

